<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.asiainfo.dao.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.asiainfo.bean.Permission">
        <id column="id" property="id" />
        <result column="per_id" property="perId" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="describtion" property="describtion" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, per_id, name, url, create_time, update_time, describtion
    </sql>

</mapper>
